  .button {
    border-radius: 4px;
    border: 1px solid rgb(204, 200, 200);
    background-color: #fafafa;
    height: 16px;
    width: 168px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    text-decoration: none;
    }

    .button {
      cursor: pointer;
    }

    .button:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
